{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}

{% endblock %}

{%  block content %}

    <div class="container">
    <div class="row">
            <div class="col-lg-12">
                <h1 class="title">
                    <span>{{ content_fields.get_page_topic }}</span>
                </h1>
                <div class="main_content">
                    {{ content_fields.get_text|safe }}
                </div>
            </div>
        </div>
  </div>

{% endblock %}