{%  extends "MainApp/wrapper.html"%}
{%  block content %}

    {% load staticfiles %}

    <div class="vstypnukam">
		<h1 class="title">
			<span >
				Вступникам
			</span>
		</h1>
		<div class="main_content">
			<h3>Тут Ви знайдете усю необхідну інформацію щодо вступу на освітню програму “Системи штучного інтелекту”!</h3>
			<ul>
 				<li>Спеціальність 122 “Комп’ютерні науки”</li>
 				<li>Освітня програма (спеціалізація) “Системи штучного інтелекту”</li>
				<li>Кафедра систем штучного інтелекту</li>
				<li>Інститут комп'ютерних наук та інформаційних технологій (ІКНІ)</li>
				<li>Національний університет “Львівська Політехніка”</li>
			</ul>
			<h3>Подача документів</h3>
			<p>Заяви на вступ подаються в електронному вигляді. Для цього вступник повинен зареєструватись на веб-сайті.</p>

			<p>Прийом документів відбуватиметься у електронному вигляді <b>з 12 до 26 липня (до 18:00 год.) 2018 р.</b></p>
			<p>Електронну заяву подають вступники, які хочуть взяти участь у конкурсному відборі та не мають підстав для особливих умов вступу, визначених Умовами прийому та Правилами прийому до вищого навчального закладу. Прізвище, ім’я, і по батькові вступника у документі про освіту повинні збігатись із прізвищем, ім’ям, по батькові вступника в документі, що засвідчує особу. Для тих, хто вступає на основі повної загальної середньої освіти,особисті дані повинні збігатися з інформацією у сертифікаті зовнішнього незалежного оцінювання.</p>
			<p>Не забудьте поставити 1 пріорітет при подачі заяви.</p>
			<h3>Перелік конкурсних предметів ЗНО:</h3>
			<ol>
				<li> Українська мова та література (вага предмету сертифікату - 0,35)</li>
				<li>Математика (вага предмету сертифікату - 0,4)</li>
				<li>Фізика / іноземна мова (англійська мова, французька мова, німецька мова, іспанська мова) (вага предмету сертифікату - 0,25)</li>
			</ol>
			<p><b>Ліцензований обсяг</b> (максимальна кількість студентів, які можуть бути зараховані до університету на напрям підготовки "Комп'ютерні науки"): 300.</p>
			<p><b>Максимальний обсяг державного замовлення:</b> 255, з яких min 88 місць буде відведено для студентів програми "Штучний інтелект".</p>
			<p>Після отримання рекомендації необхідно подати оригінали документів. Під час подачі оригіналів документів необхідно заповнити заявку з обраною спеціалізацією навчання - "Системи штучного інтелекту”.</p>
			<p><b>Вартість навчання на контрактній формі:</b>  13500, 14850, 16340, 17970 грн./за перший-четвертий рік відповідно.</p>
			<p>Детальніше про правила вступу в Національний університет “Львівська політехніка” за посиланням.</p>
			<p><b>Приймальна комісія:</b></p>
			<ul><li>м. Львів, вул. Степана Бандери, 12; Головний корпус НУ “ЛП”, к.101</li></ul>
			<p>Номери телефонів:</p>
			<ul >
				<li>+38 (032) 258-25-37</li>
				<li>+38 (032) 258-22-65</li>
			</ul>
		</div>
	</div>

{% endblock %}