{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}
    <link rel="stylesheet" type="text/css" href="{% static "main/css/entrants.css" %}">
{% endblock %}

{%  block content %}

    <div class="container">
    <div class="row">
            <div class="col-lg-12">
                <h1 class="title">
                    <span >
                        {%  trans "Вступникам" %}
                    </span>
                </h1>
                <div class="main_content">
                    <h3>{%  trans "Тут Ви знайдете усю необхідну інформацію щодо вступу на освітню програму “Системи штучного інтелекту”!" %}</h3>
                    <ul>
                        <li>{%  trans "Спеціальність 122 “Комп’ютерні науки”" %}</li>
                        <li>{%  trans "Освітня програма (спеціалізація) “Системи штучного інтелекту”" %}</li>
                        <li>{%  trans "Кафедра систем штучного інтелекту" %}</li>
                        <li>{%  trans "Інститут комп'ютерних наук та інформаційних технологій (ІКНІ)" %}</li>
                        <li>{%  trans "Національний університет “Львівська Політехніка”" %}</li>
                    </ul>
                    <h3>{%  trans "Подача документів" %}</h3>
                    <p>{%  trans "Заяви на вступ подаються в електронному вигляді. Для цього вступник повинен зареєструватись на веб-сайті." %}</p>

                    <p>{%  trans "Прийом документів відбуватиметься у електронному вигляді" %}<b>{%  trans "з 12 до 26 липня (до 18:00 год.) 2018 р."%} </b> </p>
                    <p>{%  trans "Електронну заяву подають вступники, які хочуть взяти участь у конкурсному відборі та не мають підстав для особливих умов вступу, визначених Умовами прийому та Правилами прийому до вищого навчального закладу. Прізвище, ім’я, і по батькові вступника у документі про освіту повинні збігатись із прізвищем, ім’ям, по батькові вступника в документі, що засвідчує особу. Для тих, хто вступає на основі повної загальної середньої освіти,особисті дані повинні збігатися з інформацією у сертифікаті зовнішнього незалежного оцінювання." %}</p>
                    <p>{%  trans "Не забудьте поставити 1 пріорітет при подачі заяви." %}</p>
                    <h3>{%  trans "Перелік конкурсних предметів ЗНО:" %}</h3>
                    <ol>
                        <li> {%  trans "Українська мова та література (вага предмету сертифікату - 0,35)" %}</li>
                        <li>{%  trans "Математика (вага предмету сертифікату - 0,4)" %}</li>
                        <li>{%  trans "Фізика / іноземна мова (англійська мова, французька мова, німецька мова, іспанська мова) (вага предмету сертифікату - 0,25)" %}</li>
                    </ol>
                    <p><b> {%  trans "Ліцензований обсяг" %}</b> {%  trans "(максимальна кількість студентів, які можуть бути зараховані до університету на напрям підготовки 'Комп'ютерні науки'): 300." %}</p>
                    <p><b> {%  trans "Максимальний обсяг державного замовлення:" %}</b> {%  trans "255, з яких min 88 місць буде відведено для студентів програми 'Штучний інтелект'." %}</p>
                    <p>{%  trans "Після отримання рекомендації необхідно подати оригінали документів. Під час подачі оригіналів документів необхідно заповнити заявку з обраною спеціалізацією навчання - 'Системи штучного інтелекту'." %}</p>
                    <p><b>{%  trans "Вартість навчання на контрактній формі:" %}</b>  {%  trans "13500, 14850, 16340, 17970 грн./за перший-четвертий рік відповідно." %}</p>
                    <p>{%  trans "Детальніше про правила вступу в Національний університет “Львівська політехніка” за посиланням." %}</p>
                    <p><b>{%  trans "Приймальна комісія:" %}</b></p>
                    <ul><li>{{ footer_fields.get_location }}</li></ul>
                    <p> {%  trans "Контакти приймальної комісії" %}</p>{# Contacts selection committee#}
                    {%  for contact in contact_fields %}
                        {% if contact.selection_committee %}
                        <div>
                             {%  if contact.index == 1 %}
                                <p> {%  trans "Номери телефонів:" %} {{ contact.name }} </p>
                             {%  elif contact.index == 2 %}
                                 <p> емейл: {{ contact.name }} </p>
                             {%  elif contact.index == 3 %}
                                  <p>social network: {{ contact.name }} </p>
                             {%  elif contact.index == 4 %}
                                  <p> поштовий індекс: {{ contact.name }} </p>
                             {%  elif contact.index == 0 %}
                                  <p> інше: {{ contact.name }} </p>
                            {% endif %}
                        </div>
                    {% endif %}
                    {%  endfor %}
                </div>
            </div>
        </div>
  </div>

{% endblock %}
