{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{%  load staticfiles %}

{%  block script %}
    <link rel="stylesheet" type="text/css" href="{% static "main/css/slider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main/css/mainPage.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "main/css/constants.css" %}">
{% endblock %}

{%  block content %}

    <div class="mainPage">

        <div class="prev slBut"></div>
        <div class="next slBut"></div>

        <div class="slider">

            <div class="img curry" style="background-image: url('{% static "mainPage\images\img3.jpg" %}')"></div>
            <div class="img"  style="background-image: url('{% static "mainPage\images\img4.jpg" %}')"></div>
            <div class="img"  style="background-image: url('{% static "mainPage\images\img5.jpg" %}')"></div>

        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12 history">
                     <h1>{%  trans "Історія кафедри" %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8  history">
                    <p>{%  blocktrans %}Кафедра систем штучного інтелекту утворилась 26 червня 2017 року.{% endblocktrans %}</p>
                    <p>{%  blocktrans %}В основу підготовки фахівців лягла робота професора Нікольського Юрія Володимировича,
                                        який у 2002 році розробив навчальний план спеціальності «Системи штучного інтелекту», напрям «Комп’ютерні науки».
                                        У 2004 році на кафедрі інформаційних систем та мереж здійснено перший набір.{% endblocktrans %}</p>
                    <p>{%  blocktrans %}У жовтні 2016 року почалася робота з модернізації змісту навчання за ініціативи професора
                                        кафедри інформаційних систем та мереж Інституту комп’ютерних наук та інформаційних технологій (ІКНІ)
                                        Наталії Шаховської і випускника кафедри та Solutions Lead в Softserve Івана Загороднього.{% endblocktrans %}</p>
                    <p>{%  blocktrans %}Протягом вересня 2017 лабораторії кафедри були обладнані комп’ютерною технікою за підтримки Львівського ІТ-кластеру.{% endblocktrans %}</p>
                    <h3 align="center"><a href="/virtual-tour">{%  trans "Віртуальний тур" %}</a></h3>
                </div>
                <div class="col-lg-4 history">
                    <img class="building" src="{% static "mainPage\images\build1.jpg" %}" alt="">
                </div>
            </div>
        </div>

        <div class="teachers container" style="font-family: 'Roboto'">
            <h1>{%  trans "Професорсько-викладацький склад кафедри" %}</h1>
            <div class="wrapper wrap">
                {% for teacher in teachers_list %}
                    {% if teacher.scopus_id > 1000 %}
                        <a href="/teachers/{{ teacher.scopus_id }}/">
                            <div class="gr-item">
                                <div class="gr-item-image" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
                                <div class="spanWrap">
                                    <span class="teacher-name"> {{ teacher.get_full_name }}</span>
                                    <br>
                                    <span class="teacher-role">{{ teacher.get_role }} </span>
                                </div>
                            </div>
                        </a>
                    {% elif teacher.id != NULL %}
                        <a href="/teachers/{{ teacher.id }}/">
                            <div class="gr-item">
                                <div class="gr-item-image" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
                                <div class="spanWrap">
                                    <span class="teacher-name">{{ teacher.get_full_name }}</span>
                                    <br>
                                    <span class="teacher-role">{{ teacher.get_role }}</span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="teachers/">
                <div class="teachers-but">
                    <span>{%  trans "Усі викладачі" %}</span>
                </div>
            </a>
        </div>
        <div class="wrapper container">
            <div class="programs">
                <div class="prog">
                    <h4><a href="/studying/bachelor"> {%  trans "Бакалаврат" %}</a></h4>
                </div>
                <div class="prog">
                    <h4><a href="/studying/magister">{%  trans "Магістратура" %}</a></h4>
                </div>
                <div class="prog">
                    <h4><a href="/">{%  trans "PHD" %}</a></h4>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <img class="buchlet" src="{%  static 'main/images/buchlet.jpg' %}">
        </div>
    </div>

    <script src="{% static "main/js/slider.js" %}" charset="utf-8"></script>
{% endblock %}
