{%  extends "wrapping/wrapper.html" %}
{%  load i18n %}
{%  load staticfiles %}

{%  block script %}
    <link rel="stylesheet" type="text/css" href="{% static "main/css/slider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main/css/mainPage.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "main/css/constants.css" %}">
{% endblock %}

{%  block content %}
    <div class="mainPage">
        <div class="prev slBut"></div>
        <div class="next slBut"></div>

        <div class="slider">
            <div class="img curry" style="background-image: url('{% static "main/images/img3.jpg" %}')"></div>
            <div class="img"  style="background-image: url('{% static "main/images/img4.jpg" %}')"></div>
            <div class="img"  style="background-image: url('{% static "main/images/img5.jpg" %}')"></div>
        </div>

        <div class="block1 container">
            <div class="row">
                <div class="col-lg-12 title_block1">
                    <div class="col-lg-6">
                        <h1>{%  trans "ЩО ТАКЕ СИСТЕМИ ШТУЧНОГО ІНТЕЛЕКТУ?" %}</h1>
                    </div>
                </div>
                <div class="col-lg-12 content_block1">
                    <div class="col-lg-8">
                        <p>{%  trans "Штучний інтелект — це галузь, яка охоплює все: від розпізнавання тексту до механізмів, які можуть виконувати надскпадні задачі в найкоротші терміни та навчатися самостійно." %}</p>
                        <p>{%  trans "Автопілоти в автомобілях Tesla та Google, рекомендації, кого додати в друзі в соцмережах, розпізнавання облич y Facebook, персональний помічник Apple SIRI вже сьогодні є яскравими прикладами впровадження штучного інтелекту в наше життя." %}</p>
                    </div>
                </div>
                <div class="col-lg-12 black_block">
                    <h1>{%  trans "ОСОБЛИВОСТІ НАВЧАННЯ" %}</h1>
                    <p>{%  trans "Навчання на програмі буде комбінованим, так зване blended learnmg, коли традиційні академічні підходи поєднуються з інтерактивною практикою." %}</p>
                    <p>{%  trans "Студенти переглядатимуть лекції провідних науковців та професорів іноземних університетів. Предмети викладатимуть частково українською та англійською мовами." %}</p>
                    <p>{%  trans "Також студенти програми матимуть змогу не тільки здобути академічні знання з дисциплін, сформованих за аналогією до провідних університетів світу, але й створювати реальні продукти з використанням методів штучного інтелекту!" %}</p>
                </div>
            </div>
        </div>

        <div class="container block2">
            <div class="row black_block">
                <div class="col-lg-12">
                    <h1 class="line_block2">{%  trans "БАКАЛАВРСЬКА ПРОГРАМА АІ - ЦЕ:" %}</h1>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="three_blocks">
                                <h1>{%  trans "Якісні знання" %}</h1>
                                <img src="/static/main/images/1.jpg" alt="">
                                <p>{%  trans "Навчальний план для програми Штучний інтелект розробляла робоча група з 40 осіб, в яку увійшли експерти львівських ІТ компаній та викладачі Львівської політехніки." %}</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="three_blocks">
                                <h1>{%  trans "Сучасні технології" %}</h1>
                                <img src="/static/main/images/2.jpg" alt="">
                                <p>{%  trans "Навчаючись на програмі АІ, ти зможеш стати не просто програмістом чи тестувальником програмного забезпечення, а й брати участь у проектах, які розташовані y перших рядах інтелектуальних технологій." %}</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="three_blocks">
                                <h1>{%  trans "Практичні навики" %}</h1>
                                <img src="/static/main/images/3.jpg" alt="">
                                <p>{%  trans "3 першого семестру навчання студенти працюють над реальними проектами." %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="teachers container" style="font-family: 'Roboto'">
            <h1>{%  trans "Професорсько-викладацький склад кафедри" %}</h1>
            <div class="wrapper wrap">
                {% for teacher in teachers_list %}
                    {% if teacher.scopus_id > 1000 %}
                        <a href="/teachers/{{ teacher.scopus_id }}/">
                            <div class="gr-item">
                                <div class="gr-item-image" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
                                <div class="spanWrap">
                                    <span class="teacher-name"> {{ teacher.get_full_name }}</span>
                                    <br>
                                    <span class="teacher-role">{{ teacher.get_role }} </span>
                                </div>
                            </div>
                        </a>
                    {% elif teacher.id != NULL %}
                        <a href="/teachers/{{ teacher.id }}/">
                            <div class="gr-item">
                                <div class="gr-item-image" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
                                <div class="spanWrap">
                                    <span class="teacher-name">{{ teacher.get_full_name }}</span>
                                    <br>
                                    <span class="teacher-role">{{ teacher.get_role }}</span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="teachers/">
                <div class="teachers-but">
                    <span>{%  trans "Усі викладачі" %}</span>
                </div>
            </a>
        </div>
        <script src="{% static "main/js/slider.js" %}" charset="utf-8"></script>
    </div>
{% endblock %}
