{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}

{% endblock %}

{%  block content %}

    <div class="vstypnukam">
    <div class="row">
            <div class="col-lg-12">
                <h1 class="title">
                    <span>
                        {%  trans "Наукові дослідження кафедри СШІ" %}
                    </span>
                </h1>
                <div class="main_content">
                    <h3>{%  trans "Напрямки досліджень" %}</h3>
                    <p>{%  blocktrans %}Науково-дослідницька робота кафедри СШІ ведеться в напрямку вирішення алгоритмічно складних задач, аналізуванні даних великих обсягів, розробленні алгоритмів обробки відео, зображень або текстів, програмуванні та керуванні роботами{%  endblocktrans %}</p>

                    <h3>{%  trans "Теоретичні результати" %}</h3>
                    <p><em>{% trans "Теоретичними результатами" %}</em>{%  blocktrans %} виконання науково-дослідних робіт є нові математичні моделі, методи, алгоритми проектування та виробництва мікроелектронних пристроїв, а також проектування і функціонування організаційно-технічних систем{%  endblocktrans %}</p>

                    <h3>{%  trans "Практичні результати" %}</h3>
                    <p><em>{%  trans "Практичнимим результатами" %}</em>{%  blocktrans %} є проекти, над якими студенти та викладачі кафедри СШІ працюють впродовж року та презентують в кінці кожного семестру. На презентаціях проектів присутні представники з провідних ІТ компаній Львова, що є чудовою нагодою для студентів зарекомендувати себе{%  endblocktrans %}</p>
                    <div style="height: 50px"></div>
                </div>
            </div>
        </div>
  </div>

{% endblock %}