{%  extends "MainApp/wrapper.html"%}
{%  block content %}

    {% load staticfiles %}

    <div class="vstypnukam">
		<h1 class="title">
			<span >
				Наукові дослідження кафедри СШІ
			</span>
		</h1>
		<div class="main_content">
			<h3>Напрямки досліджень</h3>
			<p>Науково-дослідницька робота кафедри СШІ ведеться в напрямку вирішення алгоритмічно складних задач, аналізуванні даних великих обсягів, розробленні алгоритмів обробки відео, зображень або текстів, програмуванні та керуванні роботами</p>

			<h3>Теоретичні результати</h3>
			<p><em>Теоретичними результатами</em> виконання науково-дослідних робіт є нові математичні моделі, методи, алгоритми проектування та виробництва мікроелектронних пристроїв, а також проектування і функціонування організаційно-технічних систем</p>

			<h3>Практичні результати</h3>
			<p><em>Практичними результатами</em> є проекти, над якими студенти та викладачі кафедри СШІ працюють впродовж року та презентують в кінці кожного семестру. На презентаціях проектів присутні представники з провідних ІТ компаній Львова, що є чудовою нагодою для студентів зарекомендувати себе</p>
            <div style="height: 50px"></div>
        </div>
	</div>

{% endblock %}