{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}
    <link rel="stylesheet" type="text/css" href="{% static "vtour/css/virtualtour.css" %}">
{% endblock %}

{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tmainPage">
                    <h4>{%  trans "Віртуальний тур кафедрою СШІ" %}</h4>
                    <iframe class="vt" title="Virtual tour by tourmaker" src="https://makevt.com/media/tourmaker/mwuozbgfal/" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}