:root {
    --DARK: #0C0B09;
    --DARK_LIGHT: #181712;
    --ORANGE: #ffd600;
    --GREY:#f0f0f0;
    --GREY_DARK: #b0aba0;
    --MAIN_FONT_SIZE: 16px;
    --H1_FONT_SIZE: 30px;
    --H2_FONT_SIZE: 24px;
}