.block1 {
  margin-top: 50px;
}
.title_block1 {
  background-color: #181712;
  color: white;
  font-size: 30px;
  padding: 30px 0;
}
.content_block1 {
  background-image: url("/static/main/images/FON1.png");
  background-size: cover;
  background-repeat: no-repeat ;
  font-size: 25px;
  line-height: 35px;
  color: white;
  padding: 60px 0 20vh ;
}
.black_block {
  background-color: #181712;
  color: white;
  margin-bottom: 50px;
}
.black_block h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.black_block p {
  font-size: 25px;
  line-height: 35px;
  color: white;
  padding: 5px 30px;
}
.img_block1 {
  width: 80%;
  margin: -165px 0 0 20% ;
}

.line_block2 {
  border-bottom: 2px solid #ffd600;
  width: 50%;
  margin: 0 auto;
}
.three_blocks {
  background-image: url("/static/main/images/FON1.png");
  background-size: cover;
  background-repeat: no-repeat ;
  height: 100vh;
  padding: 0;
}
.three_blocks img {
  width: 100%;
}

.mainPage .teachers {
  min-height: 400px;
  background-color: #181712;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.mainPage .teachers h1 {
  font-size: 30px;
  color: white;
  font-family: Arial;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.wrap{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding-right: 5%;
  padding-left: 5%;
  justify-items: center;
  line-height: 1;
}
.mainPage .teachers .wrapper .gr-item {
  width: 230px;
  height: 230px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.mainPage .teachers .wrapper .gr-item .gr-item-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .3s;
}
.mainPage .teachers .wrapper .gr-item:hover .gr-item-image {
  filter: brightness(10%);
}
.mainPage .teachers .wrapper .gr-item:hover .spanWrap{
  bottom: 0;
}
.mainPage .teachers .wrapper .gr-item .spanWrap{
  font-size: 18px;
  width: 230px;
  color: #b0aba0;
  border-bottom: 2px solid #ffd600;
  position: absolute;
  bottom: -100px;
  left: 0;
  padding: 5px;
  transition: .3s;
  text-align: center;
  background-color: #181712;
}
.teachers-but {
  display: inline-block;
  width: 230px;
  height: 60px;
  margin: 20px auto;
  background-color: #181712;
  cursor: pointer;
  transition: .3s;
  border-bottom: 2px solid #ffd600;
}
.teachers-but:hover {
  cursor: pointer;
  background-color: #0C0B09;
}

.teachers-but span {
  text-align: center;
  font-size: 30px;
  color: white;
  line-height: 60px;
  font-family: Arial;
  transition: .3s;
}

@media screen and (max-width: 1200px){
  .img_block1 {
    display: none;
  }
  .wrap{
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 55%);
  }
}
@media screen and (max-width: 992px){
    .programs .prog {
      margin: 40px;
    }
}

@media screen and (max-width: 680px){
     .wrap{
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 27.5%);
       padding-bottom: 50px;
  }
}