.news_post{
	margin: 0 12% 10px 12%;
	background-color: #f0f0f0;
	position: relative;
}

.title_post{
	margin: 10px 10px 0 10px;
	font-family: Arial;
	color: #34515e;
	font-weight: bold;
	font-size: 26px;
}

.data_post{
	margin-left: 10px;
	font-family: Arial;
	color: #34515e;
	font-size: 18px;
	text-align: center;
}
.img_news {
	text-align: center;
}

#fotka{
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 100%;
	max-height: 200px;
}

.news_post:hover{
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0), inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#short_description{
	padding-bottom: 1px;
}
.pagination_p{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pagination-action {
	width: 30px;
	height: 30px;
}
.pagination_p a:hover{
	text-decoration: none;
}
.pagination-number {
    padding: 5px 7px 5px 7px;
    color: #fff;
    background-color: grey;
}

.pagination-number:hover{
	text-decoration: none;
}

.pagination-number_pagination-current{
	background-color: #B6BDD2;
	padding: 5px 7px 7px 7px;
    color: darkgoldenrod;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 0 0 20px rgba(0,0,0,0), inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.news .container{
	width: 100%;
}

