body {
	margin: 0;
	padding: 0;
}

.all_news {
	display: block;
}

.title_news {
	
	font-weight: bold;
	font-size: 40px;
	display: block;
	width: 80%;
	margin:30px 0px 0px 150px;
	font-family: Arial;
	line-height: 70px;
	color: #34515e;
}

.news_post{
	display: block;
	margin: 0px 150px 10px 150px;
	background-color: #f0f0f0;
}

.title_post{
	display: block;
	margin: 10px auto 0px 10px;
	font-family: Arial;
	color: #34515e;
	font-weight: bold;
	font-size: 26px;
}

.data_post{
	display: block;
	margin: 10px 0px 0px 10px;
	font-family: Arial;
	color: #34515e;
	font-size: 18px;
}

.img_news{
	display: block;
 	height: 100px;
 	width: auto;
	margin: 10px 20px 20px 20px;
	text-align: center;
	float: right;
}
#fotka{
	height: 100%;
	width: 100%;
}

.news_post:hover{
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0), inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#short_description{
	padding-bottom: 15px;
}