body {
	margin: 0;
	padding: 0;
}

.all_news {
	display: block;
}

.news_post{
	margin: 0px 12% 10px 12%;
	background-color: #f0f0f0;
	position: relative;
}

.title_post{
	margin: 10px 10px 0px 10px;
	font-family: Arial;
	color: #34515e;
	font-weight: bold;
	font-size: 26px;
}

.data_post{
	margin-left: 10px;
	font-family: Arial;
	color: #34515e;
	font-size: 18px;
}

#img_news{
	height: 105px;
	width: 150px;
	margin: 10px 10px 10px 10px;
	float: right;
}
#fotka{
	height: 100%;
	width: 100%;
	object-position: right;
}

.news_post:hover{
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0), inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#short_description{
	padding-bottom: 1px;
}
