.one_news a{
	text-decoration: none;
}
.title_news_one {	
	font-weight: bold;
	font-size: 40px;
	display: block;
	width: 100%;
	margin:50px 0px 10px 0px;
	line-height: 70px;
	color: #FFFFF0;
	background-color: gray;
}

.news_post_one{
	display: block;
	margin: 10px 7% 40px 7%;
}

.data_post_one{
	display: block;
	margin-top: 10px;
	color: #ffffff;
	font-size: 18px;
}

.img_news_one{
	display: block;
 	width: 89%;
	margin-left: 5%;
}
#fotka_one{
	height: 100%;
	width: 100%;

}

#description{
	padding-bottom: 15px;
}

.galleria{
	max-width: 800px;
	height: 450px;
	background: #000;
	margin-left: 5%;
}

@media screen and (max-width: 500px){
	.img_news_one {
		margin-left: 0;
	}
	.galleria {
		margin-left: 0;
	}
	.news_post_one{
		margin: 10px 0 40px 0;
	}
}