{%  extends "wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}
    <link rel="stylesheet" type="text/css" href="{% static "studying/css/bachav.css" %}">
{% endblock %}

{%  block content %}

    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="title">
					<span>
						 {{content_fields.get_page_topic}}
					</span>
				</h1>
				<div class="main_content">
					<h4>{{ content_fields.get_text|safe}}</h4>

					<div class="all">
						<input checked type="radio" name="respond" id="desktop">
							<article id="slider">
								<input checked type="radio" name="slider" id="switch1">
								<input type="radio" name="slider" id="switch2">
								<input type="radio" name="slider" id="switch3">
								<input type="radio" name="slider" id="switch4">

								<div id="slides">
									<div id="overflow">
										<div class="image">
                                            {% for sub_year in subject_list %}
                                               {{ forloop.parentloop }}
                                                <article>
                                                    <div class="b1">
                                                    {%  for sub_sem in sub_year%}
                                                        <div class="col-lg-6 ">
                                                            <div class="row">{% widthratio forloop.parentloop.counter0 1 2 as loop %}
                                                                <h4>{{ forloop.counter|add:loop }} {% trans " семестер"%}</h4>
                                                            </div>
                                                            {%  for subject in sub_sem %}
                                                                <div class="row" style="display: flex;">
                                                                    <div class="col-xs-8 rectangleA" style="background-color: {{ subject.type.color }}">
                                                                        <div class="quarterCircleBottomRight"></div>
                                                                        <p>{{ subject.get_name }}</p>
                                                                        <div class="quarterCircleTopLeft"></div>
                                                                    </div>
                                                                    <div class="col-xs-3 rectangleB" style="background-color: {{ subject.type.color }}">
                                                                        <div class="quarterCircleBottomLeft"></div>
                                                                        <p class="credit">{{ subject.get_credit }}</p>
                                                                        <div class="quarterCircleTopRight"></div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                </article>
                                            {% endfor %}
										</div>
									</div>
								</div>
								<div id="controls">
									<label for="switch1"></label>
									<label for="switch2"></label>
									<label for="switch3"></label>
									<label for="switch4"></label>
								</div>
								<div id="active">
									<label for="switch1"></label>
									<label for="switch2"></label>
									<label for="switch3"></label>
									<label for="switch4"></label>
								</div>
							</article>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
