{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "news/css/all_news.css" %}">
 {% endblock %}

{%  block content %}
     <div class="all_news container">
		<h1 class="title">
			<span>{% trans "Новини"%} </span>
		</h1>
        <div class="main_content news">
            <div class="teg_news">
                <a href="/news/all/?page=1"> #{% trans "усі новини" %}</a>
                {% for taga in tags_list %}
                    <a href="/news/{{ taga }}/?page=1"> #{{ taga.get_name }} </a>
                {%  endfor %}
            </div>
            {%  for news in news_field %}
                <a href="/news/id/{{ news.id }}">
                    <div class="container news_post">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="title_post">
                                    <span>{{ news.get_topic }}</span>
                                </div>
                                <span id="short_description" class="data_post">{{ news.get_short_description|safe }}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="img_news">
                                    <img id="fotka" src="{{ MEDIA_URL }}/{{ news.photo }}">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="tegsOnPost">
                                        {% for tag in news.tags.all %}
                                            #{{ tag.get_name }}
                                        {%  endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="data_post">
                                        <time>{{ news.data_post }} </time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <br>
            <div class="pagination_p">
                <div class="pagination">
                    {% if news_field.has_previous %}
                        <a class="pagination-action" href="?page=1">
                            <img class="pagination-action" src ='{% static "news/images/prev2.png" %}'>
                        </a>
                        <a class="pagination-action" href="?page={{ news_field.previous_page_number }}">
                            <img class="pagination-action" src ='{% static "news/images/prev.png" %}'>
                        </a>
                    {% else %}
                        <a class="pagination-action" href="#">
                            <img class="pagination-action" src ='{% static "news/images/prev2.png" %}'>
                        </a>
                        <a class="pagination-action" href="#">
                            <img class="pagination-action" src ='{% static "news/images/prev.png" %}'>
                        </a>
                    {% endif %}

                    {% for num in news_field.paginator.page_range %}
                        {% if news_field.number == num %}
                            <span class="pagination-number_pagination-current">{{ num }}</span>
                        {% elif num > news_field.number|add:'-3' and num < news_field.number|add:'3' %}
                            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if news_field.has_next %}
                        <a href="?page={{ news_field.next_page_number }}">
                            <img class="pagination-action" src ='{% static "news/images/next.png" %}'>
                        </a>
                        <a class="pagination-action" href="?page={{ news_field.paginator.num_pages }}">
                            <img class="pagination-action" src ='{% static "news/images/next2.png" %}'>
                        </a>
                    {% else %}
                        <a class="pagination-action" href="#">
                            <img class="pagination-action" src ='{% static "news/images/next.png" %}'>
                        </a>
                        <a class="pagination-action" href="#">
                            <img class="pagination-action" src ='{% static "news/images/next2.png" %}'>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
