{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  block content %}
    {%  load i18n %}
    {% load staticfiles %}

		<div class="one_news">
			<h1 style="padding-left: 100px" class="title_news_one">
				<span>Якийсь заголовок про новину</span>
			</h1>
			<div class="news_post_one">
				<div class="img_news_one">
					<img id="fotka_one" src="images/foto.jpg" >
				</div>
				<span id="description" class="data_post_one">Тут буде розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини. Розгорнутий опис новини.</span>
				<div class="img_news_one">
					<img id="fotka_one" src="images/another_foto.jpg" >
				</div>
				<div style="text-align: right" class="data_post_one">
					<time>03.02.2019</time>
				</div>
			</div>
		</div>
{% endblock %}