body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/static/wrapping/images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    /*background: white;*/
}
.main_content {
    margin: 0 auto 50px;
    width: 100%;
    font-size: 18px;
	color: #FFFFFF;
}
.title {
	line-height: 1.5;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 40px;
	margin-top: 100px;
}
.title span{
	display: block;
	margin:0 auto;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #ffd600 ;
}
.container{
    width: 80%;
}
.flex {
  display: flex;
}
ul {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1075px){
    .title {
        text-align: center;
    }
}
@media screen and (max-width: 540px){
    .container{
    width: 95%;
    }
}