body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/static/wrapping/images/background.png") ;
    background-attachment: fixed ;
    /*background: white;*/
}
.main_content {
	margin: 0 0 50px 3%;
    width: 100%;
    font-size: 18px;
	color: #000000;
}
.title {
	line-height: 1.5;
	color: #34515e;
	font-weight: bold;
	font-size: 40px;
	margin-top: 100px;
}
.title span{
	display: block;
	margin:0 auto;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover{
   text-decoration: none;
}
.container{
    width: 80%;
}
.flex {
  display: flex;
}
ul {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1075px){
    .title {
        text-align: center;
    }
}
