#contact_id{
	max-width: 355px;
	background-color: #f0f0f0;
	padding-left: 10px;
	float: left;
	margin-right: 20px;
	margin-bottom: 50px;
	position: center;
}

.title_contact{
	color: white;
	background-color: #181712;
	font-family: Arial;
	width: 103%;
	height: 29px;
	padding-left: 10px;
	margin-left: -10px;
	margin-top: -20px;
}

@media screen and (max-width: 500px){
	#contact_id{
		max-width: 320px;
	}
	.title_contact{
		height: 55px;
	}
}
