.teacher-main {
    margin: 100px 0 30px 0;
    padding-top: 30px;
    padding-left: 10px;
    background-color: aliceblue;
    border-bottom: 5px solid #34515e;
}

.teacher-info .container {
    width: 100%;
}

.photo_id{
    width: 100%;
}

.teacher-main .info-block .teacher-info .head{
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.teacher-main .info-block .teacher-info .head .nameblock h2 {
    margin: 0;
    float: left;
}

.teacher-main .info-block .teacher-info .head .scopus-info {
    width: 120px;
    height: 50px;
    position: relative;
    margin: 0 auto 20px;
}

.teacher-main .info-block .teacher-info .head .scopus-info .scopus-el {
    display: inline-block;
    width: 50px;
    height: 35px;
    position: relative;
    line-height: 0;
}
.teacher-main .info-block .teacher-info .head .scopus-info .orcid-block{
    float: left;
}
.teacher-main .info-block .teacher-info .head .scopus-info .docs-block {
    float: right;
}

.teacher-main .info-block .teacher-info .head .scopus-info  h1 {
    font-size: 40px;
    color: #8eacbb;
    text-align: center;
    line-height: 0;
}

.teacher-main .info-block .photo {
    background-size: cover;
}
.teacher-main .info-block a {
    color: #34515e;
}
.teacher-main .info-block .teacher-info .head .scopus-info .scopus-el::after{
    position: absolute;
    font-size: 10px;
    bottom: -5px;
}
.teacher-main .info-block .teacher-info .head .scopus-info .orcid-block::after {
    content: "h-index";
    left: 8px;
}
.teacher-main .info-block .teacher-info .head .scopus-info .docs-block::after {
    content: "documents";
    left: 0;
}

.teacher-main .info-block .teacher-info p {
    font-size: 18px;
    font-family: 'Roboto';
    padding: 0 15px;
    margin-bottom: 20px;
    line-height: 26px;
}
.teacher-main .info-block .teacher-info span {
    font-size: 18px;
    font-family: 'Roboto';
    padding: 0 15px;
}

.teacher-main .sub-info-block {
    min-height: 100px;
    width: 100%;
    margin-bottom: 30px;
}

.teacher-main .sub-info-block span {
    font-size: 18px;
    font-family: 'Roboto';
    padding: 5px 20px;
    line-height: 26px;
    display: inline-block;
}
.teacher-main .sub-info-block span.flag {
    padding: 5px 0;
    color: #34515e;
}
.article {
    background-color: aliceblue;
    padding: 10px;
    border-bottom: 5px solid #34515e;
    margin: 0 auto 50px 0;

}
.article h6 {
    font-family: Roboto;
    color: #34515e;
    font-size: 18px;
}
.article h6:first-child {
    font-size: 22px;
    font-weight: bold;
}
.dosl {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Arial;
}
@media screen and (max-width: 1200px){
    .photo_id{
        width: 60%;
        display: block;
        margin: auto;
    }
    .teacher-main .info-block .teacher-info .head .scopus-info {
        text-align: center;
        margin: 0 auto 50px;
    }
    .nameblock h2 {
        text-align: center;
    }
}
@media screen and (max-width: 1200px){
    .tsinfo p:first-child{
        padding-top: 50px!important;
    }
}
