{%  extends "MainApp/wrapper.html" %}
{%  block content %}

    {% load staticfiles %}

    <div class="teachersMain">

        <h1>Викладачі кафедри СШІ</h1>

        <div class="wrapper">

            {% for teacher in teachers_list %}
                <a href="{{ teacher.id }}">
                    <div class="gr-item">
                        <div class="gr-item-image" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
                        <div class="spanWrap">
                            <span class="teacher-name">{{ teacher }}</span>
                            <br>
                            <span class="teacher-role">{{ teacher.role }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>

    </div>
{% endblock %}
