{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  block content %}
    {%  load i18n %}
    {% load staticfiles %}

    <div class="teacher-main">
        <div class="info-block">
            <div class="photo" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
            <div class="teacher-info">
                <div class="head">
                    <div class="nameblock">
                        <h2>{{ teacher.full_name }}</h2>
                    </div>
                    <div class="scopus-info">
                        <div class="scopus-el orcid-block">
                            <h1>{{ teacher.scopus_hindex }}</h1>
                        </div>
                        <div class="scopus-el docs-block">
                            <h1>{{ teacher.scopus_documents }}</h1>
                        </div>
                    </div>
                </div>
                <p style="color: #34515e">{{ teacher.role }}</p>
                <p>{{ teacher.description }}</p>
                <span style="color: #34515e">orcid: </span>
                <span><a href="{{ teacher.scopus_orcid }}" target="_blank">{{ teacher.scopus_orcid }}</a></span>
                <br>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sub-info-block">
            <span class="flag">{%  trans "Наукові інтереси: " %}</span>
            <br>
            <span>{{ teacher.science_interests }}</span>
            <br>
            <span class="flag">{%  trans "Напрямки наукових досліджень: " %}</span>
            <br>
            <span>{{ teacher.science_researches }}</span>
            <br>
            <span class="flag">{%  trans "Хоббі: " %}</span>
            <br>
            <span>{{ teacher.interests }}</span>
        </div>
    </div>
    <h3 class="dosl">{%  trans "Наукові дослідження:" %}</h3>
    {% for document in docs %}
        <div class="article">
            {% for el in document %}
                <h6>{{ el }}</h6>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}