{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  block content %}
    {%  load i18n %}
    {% load staticfiles %}

    <div class="teachersMain">

        <h1>{%  trans "Викладачі кафедри СШІ" %}</h1>

        <div class="wrapper">

            {% for teacher in teachers_list %}
                {% if teacher.scopus_id > 1000 %}
                    <a href=" {{ teacher.scopus_id }} ">
                    <div class="gr-item">
                        <div class="gr-item-image" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
                        <div class="spanWrap">
                            <span class="teacher-name">{{ teacher.get_full_name }}</span>
                            <br>
                            <span class="teacher-role">{{ teacher.get_role }}</span>
                        </div>
                    </div>
                    </a>
                {% elif teacher.id != NULL %}
                    <a href="{{ teacher.id }}">
                    <div class="gr-item">
                        <div class="gr-item-image" style="background-image: url('{{ MEDIA_URL }}/{{teacher.photo}}')"></div>
                        <div class="spanWrap">
                            <span class="teacher-name">{{ teacher }}</span>
                            <br>
                            <span class="teacher-role">{{ teacher.get_role }}</span>
                        </div>
                    </div>
                    </a>
                {% endif %}
            {% endfor %}

        </div>

    </div>
{% endblock %}
