body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.main_content {
  margin: 0 auto;
    width: 80%;
    font-size: 18px;
}
.title {
  line-height: 120px;
  color: #34515e;
  font-weight: bold;
  font-size: 40px;
}
.title span{
  display: block;
  margin:0 auto;
}
.special {
  list-style: none;
}
@media screen and (max-width: 900px){
  .title {
    text-align: center;
  }
}