{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}

{% endblock %}

{%  block content %}

   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title">
              <span >
                {%  trans "Наші партнери" %}
              </span>
            </h1>
                <div class="main_content">
                    <ul>
                        {% for partner in partners_list %}
                            {{ partner.name }}
                            {{ partner.get_description }}
                            {{ partner.icon }}
                            {{ partner.site }}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}