{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}

{% endblock %}

{%  block content %}

   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title">
              <span >
                {%  trans "Наші партнери" %}
              </span>
            </h1>
                <div class="main_content">
                    <ul>
{#                        {% for partner in partners_list %}#}
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="{% static "partner/img/cluster.png" %}" alt="">
                                    {{ partner.icon }}
                                    {{ partner.site }}
                                </div>
                                <div class="col-lg-8">
                                    LVIV IT CLUSTER
Львівський ІТ Кластер (Lviv IT Cluster) – це спільнота провідних компаній у галузі інформаційних технологій (IT), які спільно із університетами та міською владою покращують та розвивають ІТ у місті. Мета Lviv IT Cluster – сприяти розвиткові ІТ-сфери у Львові як одному з найважливіших ІТ-центрів у Центрально-Східній Європі.
                                    {{ partner.name }}
                                    {{ partner.get_description }}
                                </div>
                            </div>

{#                        {% endfor %}#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}