.navch {
	width: 100%;
	padding: 0px 1% 30px 10%;
}

#riven{
	display: block;
	width: 80%;
	line-height: 50px;
	color: #34515e;
	margin-left: 5%;
}

.im_sxema {
	width: 90%;
	text-align: center;
	margin-bottom: 30px;
}

#fotka_magist{
	height: 100%;
	width: 100%;
}
/*img {*/
    /*width: 100%;*/
    /*margin: auto;*/
    /*display: block;*/
/*}*/