{%  extends "MainApp/../wrapping/wrapper.html" %}
{%  load i18n %}
{%  load staticfiles %}

{%  block script %}
    <link rel="stylesheet" type="text/css" href="{% static "mainPage/css/constants.css" %}">
{% endblock %}

{%  block content %}

    <div>
        <h3> Contacts </h3>
{#        {%  for contact in contact_fields %}#}
{#            {% if contact.selection_committee == False %}#}
{#                 {%  if contact.index == 1 %}#}
{#                    <p> номер телефону: {{ contact.name }} </p>#}
{#                 {%  elif contact.index == 2 %}#}
{#                      <p> емейл: {{ contact.name }} </p>#}
{#                     {%  elif contact.index == 3 %}#}
{#                      <p>social network: {{ contact.name }} </p>#}
{#                      {%  elif contact.index == 4 %}#}
{#                      <p> поштовий індекс: {{ contact.name }} </p>#}
{#                      {%  elif contact.index == 0 %}#}
{#                      <p> інше: {{ contact.name }} </p>#}
{#                 {% endif %}#}
{#            {% endif %}#}
{#        {%  endfor %}#}
{##}
{#        <h3> Contacts selection committee</h3>#}
{#        {%  for contact in contact_fields %}#}
{#            {% if contact.selection_committee %}#}
{#               {%  if contact.index == 1 %}#}
{#                    <p> номер телефону: {{ contact.name }} </p>#}
{#                 {%  elif contact.index == 2 %}#}
{#                      <p> емейл: {{ contact.name }} </p>#}
{#                     {%  elif contact.index == 3 %}#}
{#                      <p>social network: {{ contact.name }} </p>#}
{#                      {%  elif contact.index == 4 %}#}
{#                      <p> поштовий індекс: {{ contact.name }} </p>#}
{#                      {%  elif contact.index == 0 %}#}
{#                      <p> інше: {{ contact.name }} </p>#}
{#                 {% endif %}#}
{#            {% endif %}#}
{#        {%  endfor %}#}
    </div>

{% endblock %}
