.tmainPage {
    width: 100%;
    background-color: #f0f0f0;
    margin-top: 50px;
    margin-bottom: 90px;
}
.vt {
    width: 100%;
    height: 750px;
}
.tmainPage h4{
    background-color: #181712;
    color: white;
    padding: 5px 20px;
    margin-top: 100px;
    margin-bottom: 0;
    min-height: 50px;
    font-size: 25px;
}
.tmainPage iframe  {
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 900px){
    .tmainPage {
        padding: 0;
    }
    .vt {
        width: 100%;
        height: 500px;
    }
}