{%  extends "wrapping/wrapper.html" %}
{%  load i18n %}
{% load staticfiles %}

{%  block script %}

{% endblock %}

{%  block content %}

   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title">
              <span >
                {%  trans "Співпраця" %}
              </span>
            </h1>
                <div class="main_content">
                    <h3>{%  trans "Кафедра систем штучного інтелекту співпрацює з українськими та закордонними організаціями та органами місцевої влади:" %}</h3>
                    <ul>
                        {% for el in coop %}
                            <li>{{ el }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}