{% load staticfiles %}
{%  load i18n %}
<!DOCTYPE html>
<html lang="en">
<body>
   <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{% trans "Контактна інформація" %}</h2>
                    <hr>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 qwerty">
                    <div class="content flex">
                    <i class="fa fa-map-marker location__icon"></i>
                    <h5 class="location__text">{{ footer_fields.get_location }}</h5>
                    </div>
                </div>
                 <div class="col-lg-4 qwerty">
                    <div class="content flex">
                    <i class="fa fa-phone phone__icon"></i>
                    <h5 class="phone__number">{{ footer_fields.phone_number }}</h5>
                    </div>
                </div>
                <div class="col-lg-8 qwerty">
                    <div class="content flex">
                    <i class="fa fa-home home__icon"></i>
                    <h5 class="home__text">{{ footer_fields.get_building }}</h5>
                    </div>
                </div>
                <div class="col-lg-4 qwerty">
                    <div class="content flex">
                        <a href="{{ footer_fields.social_net_url }}" target="_blank"><i class="fa  fa-facebook text__icon"></i></a>
                    <a href="{{ footer_fields.social_net_url }}" target="_blank" class="text">{{ footer_fields.social_net }}</a>
                    </div>
                </div>
                <div class="col-lg-8 qwerty">
                    <div class="content flex">
                    <i class="fa  fa-envelope email__icon"></i>
                    <a href="" class="email__text">{{ footer_fields.email }}</a>
                    </div>
                </div>
                <div class="col-lg-4 qwerty">
                    <div class="content flex">
                    <a href="{{ footer_fields.site_url }}" target="_blank"><i class="fa fa-graduation-cap vns__icon"></i></a>
                    <a href="{{ footer_fields.site_url }}" class="vns__text" target="_blank">{{ footer_fields.get_site }}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <h4>{% trans "© Кафедра СШІ" %}</h4>
                </div>
            </div>
        </div>    
    </footer>
</body>
</html>