{% load static i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>footer</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "footer/css/footer.css" %}">
</head>

<body>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{% trans "Контактна інформація" %}</h2>
                    <hr>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 qwerty">
                    <div class="content d-flex">
                    <i class="fa fa-map-marker All__icon"></i>
                    <h5 class="location__text">{{ footer_fields.get_location }}</h5>
                    </div>
                </div>
                 <div class="col-lg-4 ml-auto qwerty">
                    <div class="content d-flex">
                    <i class="fa fa-phone All__icon"></i>
                    <h5 class="phone__number">{{ footer_fields.phone_number }}</h5>
                    </div>
                </div>
                <div class="col-lg-6 qwerty">
                    <div class="content d-flex">
                    <i class="fa fa-home All__icon"></i>
                    <h5 class="home__text">{{ footer_fields.get_building }}</h5>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto qwerty">
                    <div class="content d-flex">
                    <i class="fa  fa-facebook All__icon"></i>
                    <a href="" class="text">Facebook</a>     
                    </div>
                </div>
                <div class="col-lg-6 qwerty">
                    <div class="content d-flex">
                    <i class="fa  fa-envelope All__icon"></i>
                    <a href="" class="email__text">{{ footer_fields.email }}</a>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto qwerty">
                    <div class="content d-flex">
                    <i class="fa fa-graduation-cap All__icon"></i>
                    <a href="http://vns.lpnu.ua/login/index.php" class="vns__text">{{ footer_fields.get_site }}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <h2>{% trans "© Кафедра СШІ" %}</h2>
                </div>
            </div>
        </div>    
    </footer>
    
</body>
</html>