body {
    font-family: 'Roboto', sans-serif;
}

footer {
    background: #000000;
    color: #b0aba0;
    padding-top: 20px;
}
h2 {
    text-align: center;
    font-size: 26px;
}
hr {
    width: 60%;
    background-color: #ffd600;
    border-color: #ffd600;
    margin-bottom: 30px;
}
a, h5 {
    color: #b0aba0;
    font-size: 20px;
}
.All__icon {
    color: #000;
    font-size: 20px;
    margin-right: 20px;
    background-color: #ffd600;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
}

.qwerty {
    margin-bottom: 20px;
    
}

